<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Session</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= room.session_id %></td>
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Play', play_room_path(room) %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>

<video width="320" height="240" controls>
  <source src="https://johnsonbubble.s3-ap-northeast-1.amazonaws.com/46906914/2dba2dfe-cc60-4bee-b825-67e8ff65901c/archive.mp4" type="video/mp4">
</video>


<%# <video id="video" width="320" height="240" controls>
  <source src="https://johnsonbubble.s3-ap-northeast-1.amazonaws.com/archive_stream.m3u8" type="application/x-mpegURL">
</video> %>

<video id="video"></video>


<script>
  var video = document.getElementById('video');
  var videoSrc = 'https://johnsonbubble.s3-ap-northeast-1.amazonaws.com/archive_stream.m3u8';
  if (Hls.isSupported()) {
    var hls = new Hls();
    hls.loadSource(videoSrc);
    hls.attachMedia(video);
    hls.on(Hls.Events.MANIFEST_PARSED, function() {
      video.play();
    });
  }else if (video.canPlayType('application/vnd.apple.mpegurl')) {
    video.src = videoSrc;
    video.addEventListener('loadedmetadata', function() {
      video.play();
    });
  }
</script>


<%= link_to 'New Room', new_room_path %>
