<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Session:</strong>
  <%= @room.session_id %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>

<script>
  console.log('vonageApiKey', vonageApiKey)
  console.log('vonageSessionId', vonageSessionId)
  console.log('vonageToken', vonageToken)
</script>
